@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #4f4f4f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #696969;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.heart {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #c71585; /* Red-400, mas a cor será definida diretamente no JSX */
  transform: rotate(-45deg);
  opacity: 35%;
  left: 145px;
  filter: blur(4px);
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: inherit; /* Herdar a cor definida no JSX */
  border-radius: 50%;
}

.heart::before {
  top: -50px;
  left: 0;
}

.heart::after {
  left: 50px;
  top: 0;
}
